<div class="container__card-header">
  <ngx-skeleton-loader appearance="circle" [theme]="styles?.header?.profile"></ngx-skeleton-loader>
  <div  class="container__profile-lines">
    <ngx-skeleton-loader appearance="line" [theme]="styles?.header?.lines[0]"></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line"  [theme]="styles?.header?.lines[1]"></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line"  [theme]="styles?.header?.lines[2]"></ngx-skeleton-loader>
  </div>
</div>
<div class="container__card-content">
  <ngx-skeleton-loader appearance="line" [theme]="styles?.content?.lines[0]"></ngx-skeleton-loader>
  <ngx-skeleton-loader appearance="line" [theme]="styles?.content?.lines[1]"></ngx-skeleton-loader>
  <ngx-skeleton-loader appearance="line" [theme]="styles?.content?.lines[2]"></ngx-skeleton-loader>
  <ngx-skeleton-loader appearance="line" [theme]="styles?.content?.lines[3]"></ngx-skeleton-loader>
</div>
<div class="container__card-footer">
  <div class="container__card-footer-items">
    <ngx-skeleton-loader count="3" appearance="circle" [theme]="styles?.footer?.circles"></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="line" [theme]="styles?.footer?.lines[0]"></ngx-skeleton-loader>
  </div>
    <ngx-skeleton-loader appearance="line" [theme]="styles?.footer?.lines[1]"></ngx-skeleton-loader>
</div>
