.container {
  --card-width: 60rem;

  width: 100vw;
  height: 100vh;
  background-color: darkturquoise;
  display: flex;
  align-items: center;
  justify-content: center;

  &__card {
    width: var(--card-width);
    background-color: #fff;
    padding: 2rem 2rem 2rem 2rem;
    border: none;
    box-shadow: -0.5rem 1rem 15px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;
  }
}

@media (max-width: 610px) {
  .container {
    &__card {
      width: 100%;
    }
  }
}
