<div class="container__card-header">
  <img src="../../../assets/profile-pic.png" alt="profile" />
  <div class="container__profile-lines">
    <p>Lorem ipsum</p>
    <p>Lorem ipsum dolor sit amet</p>
    <p>Lorem ipsum dolor</p>
  </div>
</div>
<div class="container__card-content">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula
    eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque
    habitant morbi tristique senectus et netus et malesuada fames ac turpis
    egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac,
    posuere eu, lectus. Nam mattis, felis ut adipiscing.
  </p>
</div>
<div class="container__card-footer">
  <div class="container__card-footer-items">
    <div class="container__card-footer-icons">
      <i class="fa fa-thumbs-up" aria-hidden="true"> </i>
      <i class="fa fa-heart" aria-hidden="true"></i>
      <i class="fa fa-lightbulb-o" aria-hidden="true"> </i>
    </div>
    <p>Lorem ipsum dolor</p>
  </div>
  <p>277 comments</p>
</div>
